html {
  scroll-behavior: smooth;
}

.menu-list{
  position: relative;
}
.menu-toggle{
  position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 50px;
    z-index: 999;
}
.sidebar-nav{
  display: none;
  position: absolute;
  right: 250px;
  width: 250px;
  transition: all .4s ease 0s;
  position: fixed;
  transform: translateY( 100% );
    transition: transform .4s;
  height: 100vh;
    z-index: 2;
    transform: translateX(250px);
    background: #222222;
    border-left: 1px solid rgba(255, 255, 255, .1);
    opacity: 0.7;
}
.sidebar-list{
  font-size: 1.2rem;
    background: rgba(52, 58, 64, .1);
    height: 60px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    color: #3B3C3D;
}
.sidebar-list:hover{
  background: rgba(58, 62, 68, .3);
}
.sidebar-list a{
text-decoration: none;
color: #fff;
margin-left: 10px;
}

.header{
  min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: wheat;
    /* background: url(image/article.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #cfcfcf;
}
.container{
  width: 970px;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.conte{
  padding: 15% 0 18% 0;
  text-align: center;
 
} 
.page-title h1{
  text-transform: none;
}
 h1{
  text-transform: none;
  font-size: 36px;
  margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: .67em 0;
} 

.content{
  color: #ecb807;
  padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
}
.maincontainer{
  text-align: center;
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mainlist{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mainsss{
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 83.333333%;
    max-width: 83.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-section-heading h3{
  font-size: 1rem;
    text-transform: uppercase;
    color: #5D9FFF;
    margin-bottom: 0;
}
.content-section-heading h2{
  font-size: 3rem;
  color: #343a40;
  font-weight: 700;
}
.row{
  display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.rowleft{
  flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.profileimg{
  margin-bottom: 3rem;
  margin-top: 3rem;
  float: left
}

.roeright{
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.rightname{
  display: table;
    width: 100%;
    border-top: #757575 1px solid;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.rightrow{
  display: table-row;
  border-top: #757575 1px solid;
  border-bottom: #757575 1px solid;
}
.cell{
  display: table-cell;
    border-bottom: #757575 1px solid;
    padding: 10px 0;
}
.alss{
  margin-left: auto;
    margin-right: auto;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.alss a{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: 700;
    color: #fff;
    padding: 1.25rem 2.5rem;
    background-color: #343a40;
    border-color: #343a40;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
}
.profImg{
    width: 70%;
    height: 70%;
    padding: 20px;
}


.myskill{
    padding-bottom: 7.5rem;
    text-align: center
}
.myskill ul{
  max-width: 900px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.skillcontent{
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.skilltop{
  font-size: 1rem;
    text-transform: uppercase;
    color: #ecb807;
    margin-bottom: 0;
    font-weight: 700;
}
.slillbottom{
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 700;
}
.aaa{
  display: inline-block;
  background: #eee;
  margin: 10px;
  padding: 10px;
  color:#5b2c00;
}



.workport{
  padding-bottom: 7.5rem;
  text-align: center
}
.workport hr{
  width: 60px;
}
.workcontent{
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.worktop{
  font-size: 24px;
  margin-bottom: 3rem;
  font-weight: 700;
}
.Profilerow{
    display: flex;
    margin-top:3rem;
}
.port-list{
  width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0 .75rem;
    min-height: 1px;
}
.port1{
  overflow: hidden;
    height: 230px;
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;

}
.port1:hover{
  transform: scale(1.1, 1.1);
}
.port1 img{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    cursor: pointer;
    border: 1px solid #aaa;
    float: left;
}
.port-list h3{
  font-size: 15px;
  text-align: center;
   margin-top: 20px;
   color: #424242;
   font-family: "Roboto", sans-serif;
   margin-right: 15px;
   margin-left: 15px;
}

.contact{
  background-color: #f8f9fa;
    text-align: center;
    color:black;
}
.contactist{
  width: 960px;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
  text-align: center;
    font-size: 45px;
    margin-bottom: 80px;
    font-weight: normal;
}
.section-title h3{
  text-align: center;
    font-size: 45px;
    font-weight: normal;
  margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #5D9FFF;
}
.section-title hr{
  width: 60px;
  border-color: rgb(47, 147, 123);
}


.iconfooter{
  margin-bottom: 3rem;
  padding-left: 0;
    list-style: none;
}
.iconfooter li{
  margin: 0 auto;
  display: inline-block;
}
.iconfooter a{
  display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #5D9FFF;
    transition: background-color .15s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;

}
