html {
  scroll-behavior: smooth;
}

.menu-list{
  position: relative;
}
.menu-toggle{
  position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    /* background: rgba(52, 58, 64, .5); */
    background-color: gray;
    line-height: 50px;
    z-index: 999;
    opacity: 0.7;
}
.sidebar-nav{
  display: none;
  position: absolute;
  right: 250px;
  width: 250px;
  transition: all .4s ease 0s;
  position: fixed;
  transform: translateY( 100% );
    transition: transform .4s;
  height: 100vh;
    z-index: 2;
    transform: translateX(250px);
    background-color: gray;
    border-left: 1px solid rgba(255, 255, 255, .1);
    opacity: 0.7;
}
.sidebar-list{
  font-size: 1.2rem;
    background: rgba(52, 58, 64, .1);
    height: 60px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    color: #3B3C3D;
}
.sidebar-list:hover{
  /* background: rgba(58, 62, 68, .3); */
  background-color:black;
}
.sidebar-list a{
text-decoration: none;
color: #fff;
margin-left: 10px;
}

.header{
  min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: wheat;
    background: url(../image/singapore.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
}
.container{
  width: 970px;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%);
}
.conte{
  padding: 15% 0 18% 0;
  text-align: center;
 
} 
.page-title{
  text-transform: none;
  font-size: large;
  text-transform: none;
  font-size: 50px;
  margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: .67em 0;
}


.content{
  color: #ecb807;
  padding-top: 20px;
  width: 100%;
    height: auto;
    background-color: #fff;
}
.maincontainer{
  text-align: center;
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mainlist{
  display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mainsss{
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 83.333333%;
    max-width: 83.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content-section-heading h3{
  font-size: 1rem;
    text-transform: uppercase;
    color: #00418D;
    margin-bottom: 0;
}
.content-section-heading h2{
  font-size: 3rem;
  color: #343a40;
  font-weight: 700;
}
.row{
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.rowleft{
  flex: 0 0 50%;
    max-width: 40%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.profileimg{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.roeright{
  flex: 0 0 50%;
  max-width: 60%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.rightprof{
  display: table;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.rightlist{
    width: 100%;
    display: table-row;
    color: #333;
}
.cell1{
  display: table-cell;
    padding: 10px 0;
    width: 30%;
}
.cell{
  display: table-cell;
    padding: 10px 0;
    width: 70%;
    text-align: left;
}

.myskill{
  padding-bottom: 7%;
  text-align: center;
  background-color: #f6f6f6;
}
.myskill ul{
  max-width: 800px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}
.skillcontent{
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.skilltop{
    text-transform: uppercase;
    color: #5b2c00;
    margin-bottom: 0;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 45px;
    font-family: inherit;
    line-height: 1.1;
}

.aaa{
  display: inline-block;
  background: #eee;
  margin: 10px;
  padding: 10px;
  color:#5b2c00;
}



.workport{
  padding-bottom: 7%;
  text-align: center;
  background: url(../image/so-white.png);
  
}
hr{
  width: 60px;
  border-color: rgb(47, 147, 123);
}
.workcontent{
  max-width: 960px;
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.worktop{
  font-size: 45px;
  padding-top: 5%;
  padding-bottom: 2%;
  font-weight: 700;
}
.Profilerow{
    display: flex;
    margin-top:3rem;
}
.port-list{
  width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0 .75rem;
    min-height: 1px;
}
.port1{
  overflow: hidden;
    height: 230px;
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;

}
.port1:hover{
  transform: scale(1.1, 1.1);
}
.port1 img{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    cursor: pointer;
    border: 1px solid #aaa;
    float: left;
}
.port-list h3{
  font-size: 15px;
  text-align: center;
   margin-top: 20px;
   color: #424242;
   font-family: "Roboto", sans-serif;
   margin-right: 15px;
   margin-left: 15px;
}

.contact{
  background-color: #f8f9fa;
  text-align: center;
  color:black;
  padding-top: 5%;
  padding-bottom: 2%;
  width: 100%;
    height: auto;
}
.contactist{
  width: 960px;
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
  text-align: center;
    font-size: 45px;
    margin-bottom: 80px;
    font-weight: normal;
}
.section-title h3{
  text-align: center;
    font-size: 45px;
    font-weight: normal;
  margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #5D9FFF;
}


.iconfooter{
  padding-bottom: 3rem;
  padding-left: 0;
  list-style: none;
  background-color: #f8f9fa;
}
.iconfooter li{
  margin: 0 auto;
  display: inline-block;
}
.icon-git{
  display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #24292e;
    transition: background-color .15s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
}
.icon-git:hover{
background-color: #AAAAAA;
}
.icon-qiita{
  display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #55c500;
    transition: background-color .15s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
}
.icon-qiita:hover{
  background: #99FF99;
}
.icon-mail{
  display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #5D9FFF;
    transition: background-color .15s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
}
.icon-mail:hover{
  background: #CCFFFF;
}

.footer{
  width: 100%;
  background-color: #D3D3D3;
  bottom: 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 50px 0;
  color: #fff;
}